[package]
name = "rimecraft-voxel-shape"
version = "0.1.0"
edition = "2024"
authors = ["JieningYu <jiening.yu@outlook.com>"]
description = "Voxel shapes"
repository = "https://codeberg.org/DM-Earth/rimecraft/"
license = "AGPL-3.0-or-later"
categories = ["game-development"]

[badges]
maintenance = { status = "passively-maintained" }

[dependencies]
voxel-math = { path = "../voxel-math", package = "rimecraft-voxel-math" }
rimecraft-edcode2 = { path = "../../util/edcode2", optional = true }
serde = { version = "1.0", optional = true }
maybe = { path = "../../util/maybe", package = "rimecraft-maybe" }
math = { path = "../math", package = "rimecraft-math" }
remap = { path = "../../util/remap", package = "rimecraft-remap" }
bitvec = "1.0"
glam = "0.30"
approx = "0.5"
typeid = "1.0"

[features]
default = ["serde", "edcode"]
serde = ["dep:serde"]
edcode = ["dep:rimecraft-edcode2"]

[lints]
workspace = true
