[package]
name = "rimecraft-voxel-math"
version = "0.1.0"
edition = "2024"
authors = ["JieningYu <jiening.yu@outlook.com>"]
description = "Voxel math library for Rimecraft"
repository = "https://codeberg.org/DM-Earth/rimecraft/"
license = "AGPL-3.0-or-later"
categories = ["game-development"]

[badges]
maintenance = { status = "passively-maintained" }

[dependencies]
edcode2 = { path = "../edcode2", package = "rimecraft-edcode2", optional = true }
serde = { version = "1.0", optional = true }
remap = { path = "../../util/remap", package = "rimecraft-remap" }
glam = "0.30"

[features]
default = ["serde", "edcode"]
serde = ["dep:serde"]
edcode = ["dep:edcode2"]

[lints]
workspace = true
