[package]
name = "rimecraft-component"
version = "0.1.0"
edition = "2024"
authors = ["JieningYu <jiening.yu@outlook.com>"]
description = "Minecraft Component implementation"
repository = "https://codeberg.org/DM-Earth/rimecraft/"
license = "AGPL-3.0-or-later"
categories = []

[badges]
maintenance = { status = "passively-maintained" }

[dependencies]
serde = "1.0"
erased-serde = "0.4"
bytes = "1.10"
ahash = "0.8"
edcode2 = { path = "../../util/edcode2", package = "rimecraft-edcode2" }
rimecraft-registry = { path = "../registry", features = ["serde", "edcode"] }
rimecraft-global-cx = { path = "../global-cx", features = ["nbt", "std"] }
rimecraft-maybe = { path = "../../util/maybe" }
local-cx = { path = "../local-cx", features = [
    "serde",
    "edcode",
    "dyn-codecs",
], package = "rimecraft-local-cx" }
rcutil = { path = "../../util/rcutil", package = "rimecraft-util" }
typeid = "1.0"

[dev-dependencies]
serde = { version = "1.0", features = ["derive"] }
fastnbt = "2.6"
test-global = { path = "../../test/global", features = [
    "registry",
], package = "rimecraft-test-global" }

[features]

[lints]
workspace = true
