name: Clippy Lint

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint using Clippy
        run: cargo clippy --all-features --no-deps --workspace
