name: Miri Test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

env:
  CARGO_TERM_COLOR: always
  MIRIFLAGS: -Zmiri-disable-stacked-borrows -Zmiri-tree-borrows

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Test using Miri
      run: cargo +nightly miri test --all-features --workspace
