name: Test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with release
        run: cargo build --all-features --release --workspace
      - name: Run tests
        run: cargo test --all-features --release --workspace
